table, footer, thead, div, th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid grey;
    border-collapse: collapse;
    font-weight: normal;
}

thead, footer,.search{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdfe4+0,f0f1f2+100 */
    background: #dbdfe4; /* Old browsers */
    background: -moz-linear-gradient(top,  #dbdfe4 0%, #f0f1f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #dbdfe4 0%,#f0f1f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #dbdfe4 0%,#f0f1f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdfe4', endColorstr='#f0f1f2',GradientType=0 ); /* IE6-9 */

}

td, th {
    border-spacing: 0px;
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
    text-align: left;
}

#IdSearch{
    width:25px;
}

#PriceSearch{
    width: 75px;
}
.price{
    padding-right: 100px;
}
footer{
    vertical-align: center;
    width:941px;
    border-collapse: collapse;
    height: 30px;
    
}
.filter{
    background:url("./filter.gif") no-repeat center;
    height: 20px;
    width: 20px;
    align-content: center;
    border-radius: 5px;
}

#showedItems{
    padding-right: 10px;
    float:right;
}
#selected{
    border: solid orangered;
    border-radius: 5px;
    padding: 5px;
}
.pages{
    padding: 5px;
}
.BtnPages{
    display:inline-block;
    margin: 5px;;
}


